<h1>Todos#Priority</h1>
<h4>Average priority : <%= @avg %> </h4>
<br>
<% @top.each do |item| %>
<h4> <%= item.title %> </h4>
<h4> <%= item.description %> </h4>
<h4> <%= item.priority %> </h4>
<br>
<% end %>
<p>Find me in app/views/todos/index.html.erb</p>



<% if current_user %>
  <%  @mytodos.each do |item|   %>
  <p> <%= item.title %> <span> -
      <%= item.description %> -
      </span> - <%= item.priority %> </span>
      <% if item.mark  %>
        </span> - Done [X] </span>
      <% else %>
        </span> - Done: [ ] </span>
      <% end %>
    <span> <%= link_to "Shopping list", new_todo_grocery_path(item) %> </span>
    <span> <%= link_to "view", todo_path(item) %> </span>
    <span> <%= link_to "Delete", todo_path(item), method: :delete %> </span>
    <span> <%= link_to "Update", edit_todo_path(item) %> </span>

  </p>
  <% end %>
<% else %>
  <% @todos.each do |item|   %>

  <p> <%= item.title %> <span> </span> <span> -  <%= item.description %> </span> - <%= item.priority %> </span>
    <span> <%= link_to "view", todo_path(item) %> </span>
    <span> <%= link_to "Delete", todo_path(item), method: :delete %> </span>
    <span> <%= link_to "Update", edit_todo_path(item) %> </span>

  </p>
  <% end %>
<% end %>
<div> <button class="btn btn-warning"><%= link_to "New", new_todo_path %></button> </div>
<br>
<br>

<%= render "mod_my_todos.html.erb" %>
