<h1>Todos#index</h1>
<p>Find me in app/views/todos/index.html.erb</p>




<%  @mytodos.each do |item|   %>
<%= render "item" %>


<p> <%= item.title %>
    <span> <%= link_to "view", todo_path(item) %> </span>
  <span> <%= link_to "Delete", todo_path(item), method: :delete %> </span>
  <span> <%= link_to "Update", edit_todo_path(item) %> </span>

</p>
<% end %>

<div> <button class="btn btn-warning"><%= link_to "New", new_todo_path %></button> </div>
<br>
<br>

<%= render "mod_my_todos.html.erb" %>
