<h1> My Todos</h1>
<p>Find me in app/views/todos/index.html.erb</p>



<% if current_user %>
  <%  @mytodos.each do |item|   %>
  <p> <%= item.title %>

    <span> <%= link_to "view", todo_path(item) %> </span>
    <span> <%= link_to "Delete", todo_path(item), method: :delete %> </span>
    <span> <%= link_to "Update", edit_todo_path(item) %> </span>

  </p>
  <% end %>
<% else %>
  <% @todos.each do |item|   %>

  <p> <%= item.title %>
      <span> <%= link_to "view", todo_path(item) %> </span>
    <span> <%= link_to "Delete", todo_path(item), method: :delete %> </span>
    <span> <%= link_to "Update", edit_todo_path(item) %> </span>

  </p>
  <% end %>
<% end %>
<div> <button class="btn btn-warning"><%= link_to "New", new_todo_path %></button> </div>
<br>
<br>

<%= render "mod_my_todos.html.erb" %>
